{% extends 'layout.html' %}

{% block title %}BairesCandyBox - Recuperar Contraseña{% endblock %}

{% block content %}

    <section id="container-olvido-password">
        <section id="olvido-password">
            <div class="container-form">
                <h2>Olvidé mi contraseña</h2>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form action="{{ url_for('olvido_password') }}" method="POST">
                    <input type="email" name="email" placeholder="Ingresa tu email" required>
                    <button type="submit">Enviar enlace de recuperación</button>
                </form>
            </div>
        </section>

    </section>

{%endblock%}

{% block scripts %}
    <script src="{{ url_for('static', filename='JS/home.js') }}"></script>
{% endblock %}