{% extends 'layout.html' %}

{% block title %}BairesCandyBox - Restablecer Contraseña{% endblock %}

{% block content %}

    <section id="container-reset-password">
        <section id="reset-password">
            <div class="container-form">
                <h2>Restablecer contraseña</h2>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <form action="{{ url_for('reset_password_submit', token=token) }}" method="POST">
                    <input type="password" name="password" placeholder="Nueva contraseña" required>
                    <input type="password" name="confirm_password" placeholder="Confirmar contraseña" required>
                    <button type="submit">Cambiar contraseña</button>
                </form>
            </div>
        </section>
    </section>

{%endblock%}

{% block scripts %}
    <script src="{{ url_for('static', filename='JS/home.js') }}"></script>
{% endblock %}